<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

	<property name="LOG_HOME" value="${LOG_HOME}" />
	<property name="LOG_LEVEL" value="${LOG_LEVEL}" />
	<property name="LOG_LAYOUT_PATTERN" value="%-325%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32}:%M@%L %n-- %msg%n" />
	<property name="MAX_HISTORY_LOG_FILES" value="${MAX_HISTORY_LOG_FILES}" />

	<timestamp key="byDay" datePattern="yyyy-MM-dd" />

	<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${LOG_LAYOUT_PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="TaoKeeperFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${LOG_LEVEL}</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/taokeeper-monitor-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY_LOG_FILES}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_LAYOUT_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="com.taobao.taokeeper" level="INFO" appender="TaoKeeperFileLog" additivity="true" />


	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</configuration>