<?xml version="1.0" encoding="GB2312"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 注意,对这个文件的任何修改必须同步到文件:src/main/packageFilter/applicationContext-Service.xml,否则白改了. -->

	<!-- 系统信息 -->
	<bean id="systemInfo" class="com.taobao.taokeeper.common.SystemInfo">
		<property name="envName" value="${systemInfo.envName}" />
	</bean>

	<!-- 系统配置 -->
	<bean id="systemConstant" class="com.taobao.taokeeper.common.constant.SystemConstant">
		<property name="dataStoreBasePath" value="${SystemConstent.dataStoreBasePath}" /> <!-- 状态信息存储，防止因为数据库挂造成的影响 -->
		<property name="userNameOfSSH" value="${userNameOfSSH}" />	<!-- ZK服务器用户名与密码 -->
		<property name="passwordOfSSH" value="${passwordOfSSH}" />
		<property name="configOfMsgCenter" value="${configOfMsgCenter}" />
	</bean>


	<bean id="dataSourceManager" class="common.toolkit.java.util.db.DbcpUtil">
		<property name="driverClassName" value="${dbcp.driverClassName}" />
		<property name="dbJDBCUrl" value="${dbcp.dbJDBCUrl}" />
		<property name="characterEncoding" value="${dbcp.characterEncoding}" />
		<property name="username" value="${dbcp.username}" />
		<property name="password" value="${dbcp.password}" />
		<property name="maxActive" value="${dbcp.maxActive}" />
		<property name="maxIdle" value="${dbcp.maxIdle}" />
		<property name="maxWait" value="${dbcp.maxWait}" />
	</bean>

	<!-- Service -->
	<bean id="reportService" class="com.taobao.taokeeper.monitor.service.impl.ReportServiceImpl" />

	<bean id="zooKeeperClusterDAO" class="com.taobao.taokeeper.dao.impl.ZooKeeperClusterDAOImpl" />
	<bean id="alarmSettingsDAO" class="com.taobao.taokeeper.dao.impl.AlarmSettingsDAOImpl" />
	<bean id="taoKeeperSettingsDAO" class="com.taobao.taokeeper.dao.impl.SettingsDAOImpl" />
	<bean id="reportDAO" class="com.taobao.taokeeper.dao.impl.ReportDAOImpl" />
</beans>

<!-- #Attention: Generate by maven filter -->