<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="zkPressTestConsoleLog" class="org.apache.log4j.ConsoleAppender">
		<param name="append" value="true" />
		<param name="encoding" value="GBK" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%F] - %m%n" />
		</layout>
	</appender>


	<appender name="realTimeTpsFileLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/makarov/realTimeTps.log" />
		<param name="Threshold" value="INFO" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %n" />
		</layout>
	</appender>
	<appender name="realTimeTpsConsoleLog" class="org.apache.log4j.ConsoleAppender">
		<param name="append" value="true" />
		<param name="encoding" value="GBK" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %n" />
		</layout>
	</appender>


	<logger name="org.nileader" additivity="false">
		<level value="info" />
		<appender-ref ref="realTimeTpsConsoleLog" />
		<appender-ref ref="realTimeTpsFileLog" />
	</logger>
	
	<root>
		<priority value="info" />
		<appender-ref ref="zkPressTestConsoleLog" />
	</root>

</log4j:configuration>
